<div class="grid-x"  style="padding: 40px 0; background-color: #D7DD3B;">
	<div class="cell small-12 text-center medium-4 medium-offset-4">
		<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1538639469/freedomfromdebtcollectors/headerLogo.png" alt="Freedom fromdebt collectors">
	</div>
</div>

<div class="grid-x"  style="padding: 40px 0; background-color: #404041;">
	<div class="cell small-12 medium-8 medium-offset-2 text-center">
		<h1 style="color: #fff; font-weight: 300; letter-spacing: -1px">THE DEBT DETECTIVE</h1>
		<span><a href="mail_to: williamedgar@bigpond.com">williamedgar@bigpond.com</a></span>
	</div>
</div>

<div class="grid-container" style="margin-top: 40px;">
	<div class="grid-x grid-margin-x">
		<div class="cell small-12 medium-6">
		
			
			<ul>
				<li>Debts can be sold for as little as 1% of their value.</li>
				<li>Debts are usually sold in pools not individually.</li>
				<li>Most debts are insured.</li>
				<li>Unsecured debts can become secured debts.</li>
				<li>Debts sold are not debts assigned.</li>
				<li>Debt collecting agencies outsource their call centres off-shore purchasing Australian mobile and land line numbers tricking you into thinking you are being called from within Australia.</li>
				<li>Debt collectors have NO power or authority.</li>
				<li>Most debt collectors impersonate a legal entity pretending to be something they’re not.</li>
				<li>A process server is a Court courier, nothing more nothing less.</li>
				<li>Debt collectors, Process Servers and even Sheriffs use the term “Warrant for your arrest” to intimidate and threaten people what they won’t tell you is that it’s a Civil Warrant and only the police have the legal right to arrest a person in Australia.</li>
			</ul>

		</div>
		<div class="cell small-12 medium-6">
			
			<ul>
				<li>Police do NOT get involved in civil matters unless directed to by the Court.</li>
				<li>Your credit history can’t be washed away unless it was recorded by accident.</li>
				<li>Most debt collectors don’t voice record conversations they take notes leaving room for errors and false and fabricated statements.</li>
				<li>Debt collectors can not divulge any information regarding you or an alleged debt to a third party unless you have given them the right to do so in writing.</li>
				<li>A Part 9 Debt Agreement is a form of bankruptcy.</li>
				<li>Most debt negotiators make backdoor deals with debt collectors regardless of your liability.</li>
			</ul>

		</div>

		<div class="cell small-12">
				<h2>WHAT YOU CAN DO:</h2>
				<ul>
				<li>Demand the factual documentation regarding the alleged debt not the assignment but the BILL OF SALE.
				<li>Refuse to speak with debt collectors and only correspond in writing.</li>
				<li>Record all correspondence even conversations. (Tell the caller you are recording the conversation).</li>
				<li>Never accept liability for a debt purchased by opportunists.</li>
				<li>If you’re having your debt negotiated get everything in writing and agree only on your terms.</li>
				<li>Never declare yourself bankrupt (let them do it).</li>
				<li>If you are being served with papers accept them but refuse to converse with the courier/process server.</li>
				<li>Never be intimidated, harassed or bullied by a debt collector, get their details, take a photo of them and call police if you feel threatened.</li>
				<li>Never give your personal details over the phone.</li>
				<li>Never sign a document sent by a debt collector.</li>
				<li>Never agree to a Part 9 Debt Agreement unless you are fully aware of the implications.</li>
				<li>Not all Debt Agreements are binding.</li>
				<li>You can complain to the Office of Fair Trading or ASIC in regards to a debt collectors conduct.</li>
				</ul>


		<h2>STATUTE BARRED</h2>
		<p>A debt may be statute barred (too old to pursue) because the Limitations of Actions Act 1958 (Vic) places a limit on the time a creditor has to take legal action to recover a debt. There are a number of reasons for having a time limit on a creditor taking legal action, including: As time goes by, relevant evidence is likely to be lost; It is oppressive, even “cruel”, to a defendant to allow an action to be brought long after the circumstances which gave rise to it have passed.</p>

		<p>If a creditor starts court action against you, and the debt is statute barred, you will have a complete defense to the action. If you tell a creditor that you believe a debt is statute barred, the creditor will be unlikely to start any court action against you.</p>

		<p>The Privacy (Credit Reporting) Code 2014 a credit reporting body must, upon request, remove default information that relates to a statute-barred debt.</p>

		<p>6 year limitation period</p>

		<p>For most debts, a creditor must begin court action to recover the debt within 6 years of the date:
		That you last made a payment or that you admitted in writing that you owed the debt.
		The limitation period starts from the latest event in the above list.</p>

		<p style="color: #b2b71f"><i>The Debt Collection industry is designed for you to fail, you may fight the system which takes time and money or for just 10% of the debt you can fight back by engaging Australia’s own Debt Detective.</i></p>
		</div>


	</div>
</div>





<script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
