<div class="grid-x"  style="padding: 2s0px 0; background-color: #D7DD3B;">
	<div class="cell small-12 text-center medium-4 medium-offset-4">
		<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1538639469/freedomfromdebtcollectors/headerLogo.png" alt="Freedom fromdebt collectors">
	</div>
</div>

<div class="grid-x"  style="padding: 40px 0; background-color: #404041;">
	<div class="cell small-12 medium-8 medium-offset-2 text-center">
		<h1 style="color: #fff; font-weight: 300; letter-spacing: -1px">Was your debt insured, underwritten then sold as a repairable write off?</h1>
	</div>
</div>

<div class="grid-container" style="margin-top: 40px;">
	<div class="grid-x grid-margin-x">
		<div class="cell small-12 medium-6">
			
			<div class="flex-video" >
			<video id="my-video" class="video-js" controls preload="auto" 
			  poster="https://res.cloudinary.com/thypowerhouse/image/upload/v1538869238/freedomfromdebtcollectors/video.png" data-setup="{}">
			    <source src="https://res.cloudinary.com/thypowerhouse/video/upload/v1538551565/freedomfromdebtcollectors/Debt_Collector_Video_add.mp4" type='video/mp4'>
			    <source src="https://res.cloudinary.com/thypowerhouse/video/upload/v1538551565/freedomfromdebtcollectors/Debt_Collector_Video_add.webm" type='video/webm'>
			    <p class="vjs-no-js">
			      To view this video please enable JavaScript, and consider upgrading to a web browser that
			      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			    </p>
			  </video>
			</div>

			<div style=" background-color: #D7DD3B; color: #fff; text-align: center; font-weight: 300; font-size: 30px;">
				Have your Debt Investigated NOT Negotiated. Get the Facts NOT the BS!
			</div>

			<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1538869342/freedomfromdebtcollectors/IMG_9315.jpg" alt="William Edgar Business Card">

		</div>
		<div class="cell small-12 medium-6">
			<h2 style="font-size: 40px; font-weight: 300; line-height: 38px;">Your legal right is your defence against debt collectors. </h2>
			<h2 style="font-size: 20px; font-weight: 300; color: #3a3a38"><p>Never accept liability for a debt it’s your legal right to have all the facts.</p>

			<ol>
				<li>Was the debt insured?</li>
				<li>Was the debt underwritten?</li>
				<li>Was the debt sold or assigned?</li>
				<li>If sold for how much and to whom?</li>
				<li>If assigned for collection for how much and to whom?</li>
				<li>Who legally owns the alleged debt?</li>
				<li>Why weren’t you offered the same conditions a 3rd party was when the alleged debt was put up for sale?</li>
			</ol>

<p>Reply to debt collectors demands with this Disclosure Statement a document that demands further and better particulars for only $9.95.</p></h2>

			<form action="<%= charge_make_charge_path %>" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="<%= ENV['STRIPE_PUBLIC'] %>"
			    data-amount="9.95"
			    data-zip-code="true"
			    data-name="Freedom From Debt Collectors"
			    data-description="Protection Docs"
			    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
			    data-locale="auto"
			    data-currency="aud">
			  </script>

			  <script>
			          // Hide default stripe button, be careful there if you
			          // have more than 1 button of that class
			          document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
			      </script>
			      <button type="submit" class="button primary success large expanded" style="border-radius: 5px; margin: 20px 0; background-color: #b2b71f; color: #fff;">DOWNLOAD NOW JUST $9.95</button>

			</form>

			<h3 style="font-weight: 300; font-size: 28px; margin-top: 20px;">What your purchasing</h3>
			
				

			<ul>
				<li>
					<h3 style="font-weight: 600; font-size: 20px;">Disclosure Statement PDF</h3>
					<p>If debt collectors refuse to disclose the further and better particulars this can be used as your defence in Court should they escalate the matter.</p>

					<p>Should they supply the further and better particulars you’ll have armed yourself with a defence. </p>

					<p>You don’t have to say or do anything other than reply to demands with the Disclosure Statement PDF.</p>

					<p>The Disclosure Statement PDF may be used as a legal document to gather further and better particulars in regards to an alleged debt sold as a repairable write off to a 3rd party.</p>

					<p>Unsecured debts sold to 3rd parties become secured by way of Judgement, get the Facts NOT the BS.</p>
				</li>


				
			</ul>

			<small><strong>Disclosure:</strong>
				<p>By purchasing and or using the information contained on this website such as but not limited to the PFD’s you agree to not hold liable or accountable Freedom from Debt Collectors, The Debt Detective and William Edgar for any loss legal or otherwise and agree to not sue or seek compensation.</p>
			</small>
		</div>
	</div>
</div>





<script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
