<div class="off-canvas-content" data-off-canvas-content>
<div class="grid-x"  style="padding: 2s0px 0; background-color: #D7DD3B;">
	<div class="cell small-12 text-center medium-4 medium-offset-4">
		<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1538639469/freedomfromdebtcollectors/headerLogo.png" alt="Freedom fromdebt collectors">
	</div>
</div>

<div class="grid-x"  style="padding: 40px 0; background-color: #404041;">
	<div class="cell small-12 medium-8 medium-offset-2 text-center">
		<h1 style="color: #fff; font-weight: 300; letter-spacing: -1px">Was your debt insured, underwritten then sold as a repairable write off?</strong><br /></h1>
	</div>
</div>

<div class="grid-container" style="margin-top: 40px;">
	<div class="grid-x grid-margin-x">
		<div class="cell small-12 medium-6">
			
			<div class="flex-video" >
			<video id="my-video" class="video-js" controls preload="auto" 
			  poster="https://res.cloudinary.com/thypowerhouse/image/upload/v1538869238/freedomfromdebtcollectors/video.png" data-setup="{}">
			    <source src="https://res.cloudinary.com/thypowerhouse/video/upload/v1538551565/freedomfromdebtcollectors/Debt_Collector_Video_add.mp4" type='video/mp4'>
			    <source src="https://res.cloudinary.com/thypowerhouse/video/upload/v1538551565/freedomfromdebtcollectors/Debt_Collector_Video_add.webm" type='video/webm'>
			    <p class="vjs-no-js">
			      To view this video please enable JavaScript, and consider upgrading to a web browser that
			      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			    </p>
			  </video>
			</div>

			<div style=" background-color: #D7DD3B; color: #fff; text-align: center; font-weight: 300; font-size: 30px;">
				Have your Debt Investigated NOT Negotiated. Get the Facts NOT the BS!
			</div>

			<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1538869342/freedomfromdebtcollectors/IMG_9315.jpg" alt="William Edgar Business Card">

		</div>
		<div class="cell small-12 medium-6">
			<h2 style="font-size: 40px; font-weight: 300; line-height: 38px;">Your legal right is your defence against debt collectors. </h2>
			<h2 style="font-size: 20px; font-weight: 300; color: #3a3a38"><p>Never accept liability for a debt it’s your legal right to have all the facts.</p>

			<ol>
				<li>Was the debt insured?</strong><br /></li>
				<li>Was the debt underwritten?</strong><br /></li>
				<li>Was the debt sold or assigned?</strong><br /></li>
				<li>If sold for how much and to whom?</strong><br /></li>
				<li>If assigned for collection for how much and to whom?</strong><br /></li>
				<li>Who legally owns the alleged debt?</strong><br /></li>
				<li>Why weren’t you offered the same conditions a 3rd party was when the alleged debt was put up for sale?</strong><br /></li>
			</ol>

<p>Reply to debt collectors demands with this Disclosure Statement a document that demands further and better particulars for only $9.95.</p></h2>

			<form action="<%= charge_make_charge_path %>" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="<%= ENV['STRIPE_PUBLIC'] %>"
			    data-amount="995"
			    data-zip-code="true"
			    data-name="Freedom From Debt Collectors"
			    data-description="Protection Docs"
			    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
			    data-locale="auto"
			    data-currency="aud">
			  </script>

			  <script>
			          // Hide default stripe button, be careful there if you
			          // have more than 1 button of that class
			          document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
			      </script>
			      <button type="submit" class="button primary success large expanded" style="border-radius: 5px; margin: 20px 0; background-color: #b2b71f; color: #fff;">DOWNLOAD NOW JUST $9.95</button>

			</form>

			<h3 style="font-weight: 300; font-size: 28px; margin-top: 20px;">What your purchasing</h3>
			
				

			<ul>
				<li>
					<h3 style="font-weight: 600; font-size: 20px;">Disclosure Statement PDF</h3>
					<p>If debt collectors refuse to disclose the further and better particulars this can be used as your defence in Court should they escalate the matter.</p>

					<p>Should they supply the further and better particulars you’ll have armed yourself with a defence. </p>

					<p>You don’t have to say or do anything other than reply to demands with the Disclosure Statement PDF.</p>

					<p>The Disclosure Statement PDF may be used as a legal document to gather further and better particulars in regards to an alleged debt sold as a repairable write off to a 3rd party.</p>

					<p>Unsecured debts sold to 3rd parties become secured by way of Judgement, get the Facts NOT the BS.</p>
				</li>


				
			</ul>

			<div>
				<button type="button" class="button large primary" data-toggle="offCanvas">READ FREQUENTLY ASKED QUESTIONS</button>
			</div>

			<small><strong>Disclosure:</strong>
				<p>By purchasing and or using the information contained on this website such as but not limited to the PFD’s you agree to not hold liable or accountable Freedom from Debt Collectors, The Debt Detective and William Edgar for any loss legal or otherwise and agree to not sue or seek compensation.</p>
			</small>
		</div>
	</div>
</div>
</div>

<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
<p><strong>Q. Can my default, credit history be washed away/removed?</strong><br />

  A. Only if it can be proven to have been lodged in error or you have engaged an opportunistic debt negotiator that charges a fee but you must accept liability and agree to pay the debt.

  We do not offer that service, we do not negotiate.

   

  </p><p><strong>Q. Are debt negotiators in bed with debt collectors?</strong><br />

  A. In most cases yes, ones an opportunist the other opportunistic.

   

  </p><p><strong>Q. By using the services of the Debt Detective will I be defaulted?</strong><br />

  A. It’s quite possible however if we find the debt was insured, underwritten then sold as a repairable write off the default can be removed and or set aside.

   

  </p><p><strong>Q. What is a repairable write off?</strong><br />

  A. A repairable write off is a term used in the motor vehicle industry where by a car involved in an accident may be fixed and legally sold, this practise is not legal in the financial sector however debts sold after they were underwritten may be classed as repairable write off, it’s a term that infuriates the debt collection industry and one that we will continue to use.

   

  </p><p><strong>Q. How much are debts sold for?</strong><br />

  A. Debts are sold in pools and in most cases for less than 5% of their value.

   

  </p><p><strong>Q. Is the term sold and assigned one in the same?</strong><br />

  A. No, when a debt is sold it means ownership is transferred, when a debt is assigned it means a company has engaged a debt collector to collect on its behalf.

   

  </p><p><strong>Q. Are repossessions able to be investigated?</strong><br />

  A. Yes, especially if the asset repossessed was sold under value and collectors are coming after you for the balance.

   

  </p><p><strong>Q. Are debts always sold to debt collectors?</strong><br />

  A. In most cases yes however debts can be assigned by a person, business or Company to a debt collector/opportunists.

   

  </p><p><strong>Q. Is engaging a debt collector beneficial?</strong><br />

  A. To be honest no, a debt collector has little to no power than the ordinary person on the street however it’s always best to try and collect the debt yourself, negotiate an offer of settlement and cut out the middle man.

   

  </p><p><strong>Q. Is taking a debt related matter to Court beneficial?</strong><br />

  A. Only if you are 100% sure the debt can be collected otherwise the Courts will want you to mediate and come to a settlement, personally the Court system is a good way of retribution such as obtaining a judgement against a debtor meaning you have destroyed their chances of future credit, sometimes it’s not always about the money, it’s about the principal.

   

  </p><p><strong>Q. I have been told I have a warrant for my arrest, do I?</strong><br />

  A. In most cases the warrant is civil and must be complied with however no person regardless of them being a sheriff of the court can arrest you only the police have that power and authority to arrest a person in Australia.

   

  </p><p><strong>Q. Why do debt collection Companies take debts to court?</strong><br />

  A. Court action can assist the collectors by turning the original unsecured debt into a secured debt by way of Judgement and in some cases debt collectors insure the debts they purchase and their underwriters demand they use everything in their power to collect including obtaining a judgement.

   

  </p><p><strong>Q. I negotiated and payed a payment towards the debt does that mean I am liable?</strong><br />

  A. No it could mean due to fear you were coerced into making payment and accepting liability.

   

  </p><p><strong>Q. Do you collect debts?</strong><br />

  A. Yes, we collect debts for those who have provided a service but have not been paid for that service, we call these debts legitimate debts.

   

  </p><p><strong>Q. Is a credit card debt not a legitimate debt?</strong><br />

  A. Not when it was sold as a repairable write off for less than 5% of its value after it was underwritten.

   

  </p><p><strong>Q. Why was my debt sold?</strong><br />

  A. The question should be why you weren’t offered the same conditions to purchase your debt however it was sold due to the financial institutions wanting to rid you from their system/data base.

   

  </p><p><strong>Q. What are the risks with engaging the Debt Detective?</strong><br />

  A. It’s possible you will be defaulted and may even have a judgement forced upon you however most if not all of our clients already have this. 

   

  </p><p><strong>Q. Is it possible to fight the debt in Court?</strong><br />

  A. Yes its possible however if you’ve got the money to fight then you might as well pay the debt, the system was created and designed for the average person to fail and the costs associated with fighting a debt is in some cases far greater than the debt itself.
</div>




<script src="https://vjs.zencdn.net/7.2.3/video.js"></script>

